* {
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 240, 64);
}

header nav {
    margin-right: 20px;
    float: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.project {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: space-evenly;
    background-color: white;  
    padding: 5px;
    background-color: rgb(105, 240, 64);
}