* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    display: inline-block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 240, 64);
}

/* Navbar */
header nav {
    display: inline-block;
   
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;;
}

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 550px;
   
}

/* Project images */
.project {
    height: 250px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    float: left;  
    margin: 10px;
    
}

/*Media Query  */

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(67, 200, 233);
}